extends layout

block content
  .body-section
    .row
      .col-xs-12
        h2 Hello #{user.username}
        .goals-mood-most-recent
          h3 Sessions 
          #accordion.panel-group(role="tablist", aria-multiselectable="true")
            for session in user.userSession
              //- h4= session.timeStamp
              .panel.panel-default
                #headingOne.panel-heading(role="tab")
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
                      
                      | #{session.timeStamp}
                #collapseOne.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingOne")
                  .panel-body
                    .col-xs-12
                      ul
                        li When you started you were feeling: #{session.entryMood}
                        li You were thinking about: #{session.entryThoughts}
                        li After the instrument you were felling: #{session.exitMood}
                        li After the instrument you were thinking about: #{session.exitThoughts}
                        li Did you notice a change in your mood? #{session.moodShift}
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    .row
                    .col-xs-12
                      .session-chart(style="width:100%; height:400px;") 
                      script.
                        var graph_#{session._id} = !{JSON.stringify(session.clickLocations)}                
                    
                         
                        
                        
                        